/* Formatando a index */

* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-itens {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.item {
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 16px;
}

/* .item:hover {
    background-color: aqua;
} */

.menu-itens li {
    /* border: 1px red solid; */
    margin: 1px;
}

.btn-green {
    background-color: #36B864;
    border: transparent;
    color: #ffffff;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-green:hover {
    background-color: #1a9344;
}


/* #item {
    color: rgb(61, 43, 226);
}

.item {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a {
    color: rgb(9, 168, 20);
} */




/* Pseudo class */
/* .item {
    color: rgb(221, 0, 255);
    text-decoration: none;
}

.item:hover {
    color: rgb(0, 21, 255);
    text-decoration: underline;
}

.item:active {
    color: rgb(68, 226, 0);
} */