/* Formatando a index */
div a {
    color: rgb(83, 226, 43);
}


/* 
.link {
    color: red;
    font-size: 10px;
    text-decoration: none;
}

.service {
    color: green;
}

#blog{
    color: rgb(252, 2, 252);
} 
    
*/