/* Formatando a index */



/* #item {
    color: rgb(61, 43, 226);
}

.item {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a {
    color: rgb(9, 168, 20);
} */




/* Pseudo class */
/* .item {
    color: rgb(221, 0, 255);
    text-decoration: none;
}

.item:hover {
    color: rgb(0, 21, 255);
    text-decoration: underline;
}

.item:active {
    color: rgb(68, 226, 0);
} */